


/*Remember that you can contact me directly at jashdadia@gmail.com*/


/*https://blog.hubspot.com/website/opacity-css*/



header {
	background: red;
}

.topnav {
		background-color: #DCDCDC;
		color: #202020;
	border-radius: 15px;
	border-bottom: 5px #ff4f4d solid;
	background: #d1d1d1;
	transition-duration: 2s;
	overflow: hidden;
}


.topnav a {
		float: left;
		color: #202020;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 20px;
		border-radius: 15px;
	}

	.topnav a:hover {
		background-color: #000;
		color: #fff;
		border-radius: 15px;
		transition-duration: 0.6s;
		box-shadow: 3px 3px 6px 3px #707070;
		
	}


.topnav .active {
		background-color: #505050;
		color: white;
		border-radius: 15px;
		box-shadow: none;
	}


/* -------------------------------------------------- */


.dropdown {
		float: left;
		overflow: hidden;
}


.dropdown .dropbtn {
	font-size: 20px;
		border: none;
		outline: none;
		color: #202020;
		padding: 18px 16px;
		background-color: inherit;
		font-family: "Montserrat";
		border-radius: 15px;
		vertical-align: middle;
		text-decoration: none;
		text-shadow: 0 1px 1px #000000;
		transition-duration: 0.5s;
}


.dropdown-content {
		display: none;
		position: relative;
		background-color: #f0f0f0;
		min-width: 125px;
		border-radius: 15px;
		z-index: 99999999;
		transition-duration: 0.5s;
}


.dropdown-content a {
		float: none;
		color: black;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
		text-align: center;
}


.topnav a:hover,
.dropdown:hover .dropbtn {
		background-color: #555;
		color: white;
				transition-duration: 0.5s;
}


.dropdown-content a:hover {
		background-color: #ff4f4d;
		color: black;
		box-shadow: 0px 0px 6px 3px #707070;
		transition-duration: 0.5s;
}


.dropdown:hover .dropdown-content {
		display: block;
}


/* -------------------------------------------------- */

body {
	font-family: 'Montserrat';
	padding: 0;
	font-size: 16px;
	color: #000;
	background-color: #fff;
	margin: 0;
}

.page {
	text-align: center;
	min-height: 100vh;
	align-items: center;
	justify-content: center;

}

.container {
	padding: 20px;

}

.profile-image {
	width: 60px;

}

/* -------------------------------------------------- */

h1 {
	position: relative;
	font-size: 65px;
	color: #b666ff;
	font-family: "Courier Prime";
	outline-color: #ff4f4d;
	background-image: url("/text-banner.jpg");
	background-repeat: no-repeat;
	background-position: right;
	background-size: cover;
	text-indent: 5vw;
	text-align: left;
	text-shadow: -2px 2px 0px #000,
					2px 2px 0px #000,
					2px -2px 0px #000,
					-2px -2px 0px #000;
		outline-style: solid;
					border-radius: 15px;
					padding: 50px;
}





h2 {
	font-size: 20px;
	color: #00dddd;

}

h3 {
	font-size: 25px;
	color: #b666ff;

}

h4 {
	font-size: 20px;
	color: #202020;
	font-family: "Montserrat";
	text-align: left;

}

h5 {
	font-size: 15px;
	color: #ff0000;
	font-family: "Montserrat";

}

h6 {
	text-align:right;
	font-size: 30px;
	color: #fff;
	font-family: "Montserrat";

}

p.project {
	color: black;
	font-size: 15px;
	font-weight: lighter;
	text-decoration: none;
}

mark {
	color: #8000dd;

}

/* -------------------------------------------------- */

.button {
	background-color: #ff0000;

}
.button1 {border-radius: 12px; }


a {
	display: inline-block;
	margin: 4px;
	color: #00dddd;
	text-shadow: 0 1px 1px #000000;
}

.projectlink {
		border-radius: 15px;
		padding: 5px;
		border: none;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-bottom: 20px;
		position: relative;
		width:60%;
}

.projectlink a {
    margin-bottom: 20px;
    position: relative;
    width: 100%;
    border-bottom: 2px solid #202020; /* Add the bottom border */
    padding-bottom: 10px;
	padding-top: 10px;
}

.projectlink a:last-child {
    border-bottom: none !important; /* Ensure the last row has no border */
    margin-bottom: 0; /* Remove extra spacing for the last row */
    padding-bottom: 0; /* Remove padding for the last row */
}

.projectlink a:hover {
		background-color: #dcdcdc;
		color: #000000;
		border-radius: 15px;
		transition-duration: 0.5s;
		box-shadow: 0px 0px 6px 3px #ff4f4d;
}

.projectlink a img {
		border-radius: 15px;
		padding: none;
}


.pfp {
margin-right: 15px;
float: left;
	width: 300px;
	resize: none;
	position: relative;
	border-radius: 15px;


}

/* -------------------------------------------------- */



::-webkit-scrollbar {
				height: 0px;
				width: 20px;
				background-color: #353535;
			}

::-webkit-scrollbar-thumb {
background-color: #f0f0f0;
border-radius: 20px;
border: 6px solid transparent;
background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #A9A9A9;
	transition: background-color 0.5s;
	transition-duration: 0.5s;
	border-radius: 10px;
	width: 2px;
}

::-webkit-scrollbar-thumb:active {
	background-color: #ff4f4d;
	transition: background-color 0.5s;
	border-radius: 10px;
	width: 2px;
}

footer {
background-color: #ff4f4d;
	padding: 20px;
	font-family: "Courier Prime";
position: fixed;
bottom: 0;
	right: 0;
	left:0;
	color: #454545;
	font-weight: bold;
	text-align: center;
}

.footlink{
color:#b666ff;
text-shadow: -1px 1px 0px #000,
					1px 1px 0px #000,
					1px -1px 0px #000,
					-1px -1px 0px #000;
}

.header {
	position: relative;
	display: inline-block;
}

/* -------------------------------------------------- */





/* -------------------------------------------------- */

table, th, td {
	/* border: 3px solid yellow; */
	border-collapse: collapse;
	vertical-align: top;
	padding-right: 10%;
}

/* -------------------------------------------------- */



.marquee-container {
		width: 100%;
		overflow: hidden;
		position: relative;
		background-color: #fffdcc;
		user-select: none;
}

.marquee {
		white-space: nowrap;
		animation: marquee 20s linear infinite;
		font-weight: bold;
}

.marquee:hover {
		animation-play-state: paused;
}

@keyframes marquee {
		0% {
				transform: translateX(100%);
		}
		100% {
				transform: translateX(-100%);
		}
}


/* -------------------------------------------------- */


.link {
	&--highlight-from-left {
		position: relative;
		display: inline-block;

		&:after {
			content: "";
			position: absolute;
			left: -4px;
			top: -4px;
			width: 0;
			height: calc(100% + 8px);
			transition: width 0.6s ease;
			mix-blend-mode: multiply;
		}

		&:hover::after,
		&:focus::after {
			width: calc(100% + 8px);
		}
	}

	&--highlight-from-right {
		position: relative;
		display: inline-block;

		&:after {
			content: "";
			position: absolute;
			right: -4px;
			top: -4px;
			width: 0;
			height: calc(100% + 8px);
			transition: width 0.6s ease;
			mix-blend-mode: multiply;
		}

		&:hover::after,
		&:focus::after {
			width: calc(100% + 8px);
		}
	}

	&--highlight-from-bottom {
		position: relative;
		display: inline-block;

		&:after {
			content: "";
			position: absolute;
			left: -4px;
			bottom: -4px;
			width: calc(100% + 8px);
			height: 0%;
			transition: height 0.6s ease;
			mix-blend-mode: multiply;
		}

		&:hover::after,
		&:focus::after {
			height: calc(100% + 8px);
		}
	}

	&--highlight-from-top {
		position: relative;
		display: inline-block;

		&:after {
			content: "";
			position: absolute;
			left: -4px;
			top: -4px;
			width: calc(100% + 8px);
			height: 0%;
			transition: height 0.6s ease;
			mix-blend-mode: multiply;
		}

		&:hover::after,
		&:focus::after {
			height: calc(100% + 8px);
		}
	}
}


/* 

<div class="background-one">
	<div class="link-container">
		<a class="link-one" href="https://jhancock532.github.io/link-hover-effects/">Three</a>
	</div>
</div>


https://foolishdeveloper.com/css-link-hover-animation/


https://github.com/jhancock532/link-hover-effects/blob/master/_sass/link-styles/_highlight-mix-blend-mode.scss

*/